CONFIG_RISCV=y
CONFIG_DEFAULT_DEVICE_TREE="sun20i-d1-lichee-rv-bmc"
CONFIG_OF_LIST="sun20i-d1-lichee-rv-bmc"
CONFIG_TARGET_SUN20I_D1=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
# CONFIG_SPL_SMP is not set
CONFIG_SYS_SPL_MALLOC=y
CONFIG_SPL_OPENSBI_SCRATCH_OPTIONS=0x0
# CONFIG_SYS_I2C_MVTWSI is not set
CONFIG_NET=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_PHY_REALTEK=y
CONFIG_SUN8I_EMAC=y
# this usb driver is buggy, it will cause bootup, disable it.
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_OHCI_HCD is not set
# CONFIG_PREBOOT is not set
CONFIG_DM_REGULATOR_FIXED=y
